* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}

/* Navigation */

nav {
  max-width: 1440px;
  margin: 30px auto;
  text-align: right;
}

nav a {
  display: inline-block;
  font-size: 1.8rem;
  padding: 10px;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #555;
  transition: 0.2s;
}

nav a.reservation {
  margin-right: 80px;
  margin-left: 50px;
  padding: 10px 30px;
  letter-spacing: 2px;
  border: 2px solid #555;
}

nav a:hover {
  border-bottom: 2px solid #000;
  color: black;
}

nav a.reservation:hover {
  border-color: #000;
  background-color: #000;
  color: #eee;
}

/* Header */

header {
  height: 40vh;
  background-image: url(autoM.jpg);
  background-size: cover;
  background-position: center 20%;
}

header h1 {
  font-size: 6rem;
  line-height: 40vh;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Main */

main {
  max-width: 1440px;
  margin: 5vh auto;
  text-align: center;
}

main p.description {
  margin: 0 30px 40px 30px;
  font-size: 1.4rem;
  line-height: 160%;
}

main section.features {
  font-size: 0;
}

main section div.feature {
  display: inline-block;
  width: 33.3333%;
}

main section div div.image {
  height: 150px;
  margin: 20px 40px;
  background-color: cadetblue;
}

main section div h2 {
  font-size: 1.8rem;
  color: #222;
}

/* Footer */

footer {
  background-color: #000;
}

footer p {
  padding: 20px 0;
  font-size: 2rem;
  text-align: center;
  color: #eee;
}
